@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(249, 250, 251);
  --secondary-color: rgb(255, 255, 255);
  --base-text-color: rgb(38, 38, 38);
  --base-text-color2: rgb(55, 65, 81);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(249, 250, 251);
    --secondary-color: rgb(255, 255, 255);
    --base-text-color: rgb(38, 38, 38);
    --base-text-color2: rgb(55, 65, 81);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--base-text-color);
  font-family: var(--font-poppins);
  font-size: 1.0rem;
  line-height: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-raleway);
}

h2 {
  font-family: var(--font-raleway);
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-family: var(--font-raleway);
  font-weight: 800;
  font-size: 1.175rem;
  line-height: 1.75rem;
}

h4 {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--base-text-color2);
}

p {
  font-family: var(--font-poppins);
  font-size: 1.0rem;
  line-height: 1.5rem;
  color: var(--base-text-color2);
}

span {
  font-family: var(--font-poppins);
  font-size: 1.0rem;
  line-height: 1.5rem;
  color: var(--base-text-color2);
}