@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(249, 250, 251);
  --secondary-color: rgb(255, 255, 255);
  --footer-color: rgb(51, 51, 51);
  --footer-secondary-color: rgb(190, 190, 190);
  --base-text-color: rgb(38, 38, 38);
  --base-text-color2: rgb(55, 65, 81);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(38, 38, 38);
    --secondary-color: rgb(55, 65, 81);
    --footer-color: rgb(204, 204, 204);
    --footer-secondary-color: rgb(64, 64, 64);
    --base-text-color: rgb(249, 250, 251);
    --base-text-color2: rgb(255, 255, 255);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--base-text-color);
  font-family: var(--font-poppins);
  font-size: 1.0rem;
  line-height: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-raleway);
}

h2 {
  font-family: var(--font-raleway);
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--base-text-color);
}

h3 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 1.175rem;
  line-height: 1.75rem;
  color: var(--base-text-color);
}

h4 {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--base-text-color2);
}

p {
  font-family: var(--font-poppins);
  font-size: 1.0rem;
  line-height: 1.5rem;
  color: var(--base-text-color2);
}

span {
  font-family: var(--font-poppins);
  font-size: 1.0rem;
  line-height: 1.5rem;
  color: var(--base-text-color2);
}

.slideNav-enter {
  right: -100%;
}
.slideNav-enter-active {
  right: 0%;
  transition: all ease-in-out 300ms;
}
.slideNav-exit {
  right: 0%;
}
.slideNav-exit-active {
  right: -100%;
  transition: all ease-in-out 300ms;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 200ms;
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
}

.slide-left-exit {
  transform: translateX(0%);
}

.slide-left-exit-active {
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
}

.slide-right-exit {
  transform: translateX(0%);
}

.slide-right-exit-active {
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 1024px) {
  .slideNav-enter {
    right: -66%;
  }
  .slideNav-enter-active {
    right: 0%;
    transition: all ease-in-out 300ms;
  }
  .slideNav-exit {
    right: 0%;
  }
  .slideNav-exit-active {
    right: -66%;
    transition: all ease-in-out 300ms;
  }
}